body {
    background:#000000 url(http://i849.photobucket.com/albums/ab53/YagAkira/Tile%20Background/raindrops.jpg);
}

.default {
    color:#0000FF;
}

.headerbox {
    background:#FFFFFF;
    padding:25px;
    border-radius:15px;
    float:positioned;
    position:page;
    top:60px;
    color:#00FF00;
}
    